body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 10px;

}


#selections {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: dodgerblue;
    border-radius: 5px;
}